html{
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *::before, *::after{
  box-sizing: border-box;
  box-sizing: inherit;
}

body{
  background-color: hsl(0, 20%, 90%);

}

.wrapper{
  margin: 0 auto;
  max-width: 100rem;
  width: 100%;
  min-height: 40rem;

  background-color: hsl(0, 20%, 85%);
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 0px 5px 10px hsla(0, 0%, 25%, .6);
}